<p id="notice"><%= notice %></p>

<p>
  <b>Header:</b>
  <%= @message.header %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Type:</b>
  <%= @message.message_type %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
