<%= simple_form_for(@coupon) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :token %>
    <%= f.input :usage_limit %>
    <%= f.input :enabled %>
    <%= f.input :disabled_message %>
    <%= f.input :discount_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
