%h1 Upload Complete!

%div
  There were #{@s} new Sales, #{@l} new LineItems, #{@a} new Addresses, and #{@ep} new EncryptionPairs.  

%div= link_to "Shipping Control", "/admin_pages/shipping_control"
    


