<h1>Listing bitcoin_payments</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Input address</th>
    <th>Confirmations</th>
    <th>Transaction hash</th>
    <th>Input transaction hash</th>
    <th>Destination address</th>
    <th>Sale</th>
    <th>Raw callback</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bitcoin_payments.each do |bitcoin_payment| %>
  <tr>
    <td><%= bitcoin_payment.value %></td>
    <td><%= bitcoin_payment.input_address %></td>
    <td><%= bitcoin_payment.confirmations %></td>
    <td><%= bitcoin_payment.transaction_hash %></td>
    <td><%= bitcoin_payment.input_transaction_hash %></td>
    <td><%= bitcoin_payment.destination_address %></td>
    <td><%= bitcoin_payment.sale_id %></td>
    <td><%= bitcoin_payment.raw_callback %></td>
    <td><%= link_to 'Show', bitcoin_payment %></td>
    <td><%= link_to 'Edit', edit_bitcoin_payment_path(bitcoin_payment) %></td>
    <td><%= link_to 'Destroy', bitcoin_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bitcoin payment', new_bitcoin_payment_path %>
