<%= simple_form_for(@line_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :qty %>
    <%= f.input :price %>
    <%= f.input :currency_used %>
    <%= f.input :discount %>
    <%= f.input :price_extend %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
