<h1>Listing sales</h1>

<table class="scaffold-table">
  <tr>
  	<th>Owning User</th>
    <th>Prepped</th>
    <th>Shipped</th>
    <th>Receipt confirmed</th>
    <th>Currency used</th>
    <th>Sale amount</th>
    <th>Tax amount</th>
    <th>Shipping amount</th>
    <th class="no-border"></th>
    <th class="no-border"></th>
    <th class="no-border"></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
  	<td><%= sale.user_id %></td>
    <td><%= sale.prepped %></td>
    <td><%= sale.shipped %></td>
    <td><%= sale.receipt_confirmed %></td>
    <td><%= sale.currency_used %></td>
    <td><%= sale.sale_amount %></td>
    <td><%= sale.tax_amount %></td>
    <td><%= sale.shipping_amount %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
